@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Lato:400");
* {
	outline-width: 0;
	font-family: "Roboto";
}

$lightgreen: #b6f6dbe7;
$darkgreen: #15b26eda;


.accueil {
	height: 100vh;
	.background,
	.overlay,
	.main-content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.background {
		background: url(public/img/background.jpeg)
			center;
		background-size: cover;
		filter: grayscale(0.8);
		z-index: 1;
	}
	.overlay {
		background: linear-gradient(to bottom right, $lightgreen, 60%, $darkgreen);
		opacity: 0.9;
		z-index: 2;
	}
	.main-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 3;
		.line {
			height: 1px;
			width: 150px;
			background: #fff;
			margin: 10px 0;
		}
		p {
			color: #fff;
			margin: 5px 0 0 0;
		}
	}
	.savoirplus {
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
		padding: 10px 20px;
		cursor: pointer;
		margin-top: 15px;
		position: relative;
		overflow: hidden;
		z-index: 1;
		transition: 0.3s ease;
		* &:before {
			content: "";
			height: 100%;
			width: 100%;
			background: #fff;
			position: absolute;
			top: 0;
			left: -100%;
			transition: 0.3s ease;
			z-index: -1;
		}
		&:hover {
			color: #000;
			&:before {
				left: 0;
			}
		}
	}
}

.logo{
	position: relative;
	display: flex;
	border-block-color: #fff ;
}

@media screen and (max-width: 1024px) {
	#nav-wrapper {
		width: 100%;
		display: block;
	}
	.mobile-nav {
		display: flex;
	}
	nav {
		background: #fff;
		padding: 0;
		.nav-left {
			display: none;
			a {
						color: #000 !important;
						width: 100%;
						font-size: 26px;
						padding: 20px 30px;
						&:after {
							height: 0 !important;
						}
					}
		}
		.nav-right {
			justify-content: flex-start;
			height: 0;
			margin-top: 90px;
			ul {
				width: 100%;
				li {
					display: block !important;
					width: 100%;
					a {
						color: #000 !important;
						width: 100%;
						font-size: 26px;
						padding: 20px 30px;
						&:after {
							height: 0 !important;
						}
					}
				}
			}
		}
	}
}
