@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

#actualité {
   margin-left:15%;
   margin-right:15%;
   margin-top:2%;

}

figure.article {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ccfdc8;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #ccfdc8;
  color: #000000;
  text-align: left;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
  height: 500px;
  -webkit-perspective: 800px;
  perspective: 800px;
}

figure.article * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

figure.article img {
  max-width: 100%;
  height:225px;
  vertical-align: top;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

figure.article figcaption {
  padding: 25px;
  position: relative;
}

figure.article .date{
  background-color: #31c05c;
  top: 25px;
  color: #fff;
  left: 25px;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  text-align: center;

}

figure.article .date {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }

figure.article .date span {
  display: block;
  line-height: 30px;
}

figure.article .date .month {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

figure.article h5,
figure.article p {
  margin: 0;
  padding: 0;
}

figure.article h5 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 400;
  font-size:0,6em;
  color: #333333;
  text-transform: uppercase;
}

figure.article p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}

figure.article button {
  border: medium none;
  padding: 10px 20px;
  background-color: #31c05c;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
}

figure.article a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.article:hover img,
figure.article.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.article:hover button,
figure.article.hover button {
  background-color: rgb(34, 202, 124);
}

@media screen and (max-width: 1024px) {
    figure.article img {
    display:none;
}
    
}
