#association{
    margin-left:15%;
    margin-right:15%;
    margin-top:5%;
}

.legende{
    margin-left:5%;
}

.legende .menu {
    padding-bottom: 1%;
    list-style-type: none;
    display: flex;
	align-items: center;
}

 
.legende .menu li{
    padding-left:1%;
}


.assoc {
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    margin-left: 10%;
    margin-right: 12%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 12px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.wwf_header, 
.blbh_header, 
.greenpeace_header, 
.terre_header{
    overflow: hidden;
    margin-bottom: 2%;
}

.wwf_header img , .blbh_header img , .greenpeace_header img  ,.terre_header img {
    margin-left: 3%;
    margin-right: 15px;
    float: left;
}

.wwf_header h3,.blbh_header h3, .greenpeace_header h3, .terre_header h3{
    color: rgb(90, 209, 140);
    padding-top:2%;
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    font-size: 24px;
    font-family: "Roboto";
}
.wwf_header p, .blbh_header p, .greenpeace_header p, .terre_header p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    font-size: 16px;
    font-family: "Roboto";
}


.detail li{
    font-size: 16px;
    list-style-type: none;
    font-family: "Roboto";
}

.presentation{
    display:"inline";
    text-align: justify;
}

.soutenir{
    border: medium none;
    padding: 10px 20px;
    background-color: #31c05c;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.soutenir a, .soutenir a:hover  {
    text-decoration:none;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {

.wwf_header img , .blbh_header img , .greenpeace_header img  ,.terre_header img {
    display:none;
}

}
