#astuces{
    margin-left:20%;
    margin-right:20%;
    margin-top:5%;
}

.img-astuce {
    margin-left:10%;
}

h1 {
    color: rgb(90, 209, 140);
}

h4{
    text-align: justify;
    padding-top: 5%;
}


h1, h2, h3, h4, p {
    font-size: inherit;
}

#tips {
    padding: 60px 30px;
    background-color: white;
    margin-left:15%;
    margin-right:15%;
}

#tips h1 {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .035em;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
}

#tips .card {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 450px;
    height: 400px;
    -webkit-perspective: 800px;
    perspective: 800px;
}

#tips .intro, #tips .info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

#tips .card:hover .intro {
    -webkit-filter: brightness(110%) hue-rotate(15deg);
    filter: brightness(110%) hue-rotate(15deg);
}

#tips .intro {
    padding: 20px;
    padding-top: 30px;
    background-image: -webkit-linear-gradient(top left, #00d6e6, #00a243);
    background-image: linear-gradient(to bottom right, #00d6e6, #00a243);
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

#tips .intro img {
    width: 400px;
    height: 300px;
}

#tips .intro h2 {
    margin-top: 10px;
    font-weight: light;
    font-family: "Source Sans Pro",sans-serif;
}

#tips .info {
    overflow: auto;
    font-size: 16px;
    background-image: -webkit-linear-gradient(top left, #00d6e6, #00a243);
    background-image: linear-gradient(to bottom right, #00d6e6, #00a243);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translateX(100%) rotateY(180deg);
    transform: translateX(100%) rotateY(180deg);
}

#tips .info ol {
    margin-top:5%;
    margin-right:5%;
}

strong {
    font-weight: bold;
}


#tips li:focus, #tips li:hover, #tips li.active {
    z-index: 1;
}

#tips li:focus .intro, #tips li:hover .intro, #tips li.active .intro {
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    transform: translateX(-100%) rotateY(-180deg);
}

#tips li:focus .info, #tips li:hover .info, #tips li.active .info {
    -webkit-transform: none;
    transform: none;
}

@media screen and (max-width: 1024px) {

#tips .intro img {
    display:none;
}

.img-astuce {
    display:none;
}

}




