#but{
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
}
  
#but h2 {
    margin-top: 6%;
    display: inline-block;
    position: absolute;
    font-family: 'Martel Sans', sans-serif;
    font-size: 2em;
    color: rgb(90, 209, 140);
}
  
#but p {
    margin-top: 25%;
    font-family: 'open-sans', sans-serif;
    font-size: 1em;
    display: flex;
}

ol {
    list-style: none;
  }
  
ol li::before {
    content: "\2022";
    color: rgb(90, 209, 140); 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;  
}
  
.but_ecologie{ 
    block-size: 45%;
    margin-right: 5%;
    margin-top:70%;
    position: relative;
    display: flex;
}

#danger{
    display: flex;
    position: relative;
    width: 100%;
    min-height: 750px;
}
  
#danger h2 {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 5%;
    display: inline-block;
    position: absolute;
    font-family: 'Martel Sans', sans-serif;
    font-size: 2em;
    color: rgb(90, 209, 140);
}

.imp_ecologie{ 
    block-size: 60%;
    margin-left: 5%;
    margin-top:70%;
    position: relative;
    display: flex;
}
  
#danger p {
    margin-top: 35%;
    padding-left: 15%;
    font-family: 'open-sans', sans-serif;
    font-size: 1em;
    display: flex;
}

@media screen and (max-width: 1024px) {

.but_ecologie{
    display:none;
}

.imp_ecologie{
    display:none;
}

}
