@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Lato:400");
* {
	outline-width: 0;
	font-family: "Roboto";
}

nav {
	background-color: rgb(34, 202, 124);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 10px 0;
	margin-bottom: 5%;
	box-sizing: border-box;
	&.change {
		background:	rgb(34, 202, 124);
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
		a {
			color: #000 !important;
			&:after {
				background: #000 !important;
			}
		}
		h1 {
			color: #000 !important;
		}
	}
}
#nav-wrapper {
	width: 1024px;
	margin: 0 auto;
	display: flex;
}
.nav-left {
	display: flex;
	align-items: center;
	flex: 1;
	cursor: default;
	overflow: hidden ;
	h1 {
		margin: 0;
		font-family: "Lato";
		color: #fff;
		font-size: 24px;
		font-weight: 400;
		a {
			color:#fff;
			text-decoration: none;
			display: block;
			padding: 10px 15px;
			position: relative;
			box-sizing: border-box;
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				bottom: 0;
				left: 0;
				transform: scale(0, 1);
				transition: 0.3s ease;
			}
		}
	}	
}
.nav-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 2;
	cursor: default;
	overflow: hidden;
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			display: inline-block;
			a {
				color:#fff;
				text-decoration: none;
				display: block;
				padding: 10px 15px;
				position: relative;
				box-sizing: border-box;
				&:after {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					width: 100%;
					bottom: 0;
					left: 0;
					background: #fff ;
					transform: scale(0, 1);
					transition: 0.3s ease;
				}
				&:hover:after {
					transform: scale(1, 1);
				}
			}
			&.toggle {
				height: 100%;
			}
		} 
	}
}

ul li ul {
	background: rgb(34, 202, 124);
    visibility: hidden;
 	opacity: 0;
 	min-width: 5rem;
    position: absolute;
  	transition: all 0.5s ease;
  	margin-top: 1rem;
	display: none;
	  
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  	visibility: visible;
  	opacity: 1;
	display: block;
	
}

ul li ul li {
    clear: both;
	width: 100%;
}


.mobile-nav {
	display: flex;
	padding: 15px;
	box-sizing: border-box;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	background: rgb(34, 202, 124);
	h1 {
		margin: 0;
		font-weight: 400;
		flex: 1;
		font-size: 52px;
	}
	span {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		&:before {
			font-size: 53px;
		}
	}
}


@media screen and (min-width: 1025px) {
	.mobile-nav {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	#nav-wrapper {
		width: 100%;
		display: block;
	}
	.mobile-nav {
		display: flex;
	}
	nav {
		background: rgb(34, 202, 124);
		padding: 0;
		.nav-left {
			display: none;
		}
		.nav-right {
			justify-content: flex-start;
			height: 0;
			margin-top: 90px;
			ul {
				width: 100%;
				li {
					display: block !important;
					width: 100%;
					a {
						color: #000 !important;
						width: 100%;
						font-size: 26px;
						padding: 20px 30px;
						&:after {
							height: 0 !important;
						}
					}
				}
			}
		}
	}
}
