// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Martel+Sans|Quicksand|Roboto&display=swap');

// Variables
@import 'variables';

// Variables

@import 'accueil';
@import 'nav';
@import 'definition';
@import 'astuces';
@import 'actualite';
@import 'association';
@import 'footer';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

